#sidebar {
  font-size: 12px;
}
#sidebar h3 {
  clear: both;
  margin-bottom: 1em;
  font-size: 1.1em;
  font-weight: bold;
}
#sidebar h3 a {
  font-weight: normal;
  font-size: 11px;
}
#sidebar ul {
  list-style-type: none;
}
#sidebar #filters .set > select:first-child {
  margin-left: 8px;
}
#sidebar input[type=text],
#sidebar textarea {
  padding: 3px 6px !important;
  font-size: 12px;
  width: 270px;
}
#sidebar .tabs > ul {
  overflow: auto;
  padding: 0px 12px 0px 12px;
  background-color: #ddd;
}
#sidebar .tabs > ul li {
  float: left;
}
#sidebar .tabs > ul li label {
  text-decoration: underline;
  cursor: pointer;
  display: block;
  color: #76a3a3;
  font-size: 12px;
  margin-top: 0;
  padding: 3px 15px;
  outline: none;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-top-left-radius: 4px;
  -moz-border-top-right-radius: 4px;
}
#sidebar .tabs > input {
  visibility: hidden;
}
#sidebar .tabs > #adva_current_tab_0:checked ~ ul li label[for=adva_current_tab_0],
#sidebar .tabs > #adva_current_tab_1:checked ~ ul li label[for=adva_current_tab_1],
#sidebar .tabs > #adva_current_tab_2:checked ~ ul li label[for=adva_current_tab_2],
#sidebar .tabs > #adva_current_tab_3:checked ~ ul li label[for=adva_current_tab_3],
#sidebar .tabs > #adva_current_tab_4:checked ~ ul li label[for=adva_current_tab_4] {
  background-color: #544535;
  color: white;
}
#sidebar .tabs > ul li label:hover {
  background-color: #544535;
  text-decoration: none;
}
#sidebar .tabs .tab {
  display: none;
  clear: both;
  padding: 5px 20px 20px 20px;
}
#sidebar .tabs > #adva_current_tab_0:checked ~ .tab[for=adva_current_tab_0],
#sidebar .tabs > #adva_current_tab_1:checked ~ .tab[for=adva_current_tab_1],
#sidebar .tabs > #adva_current_tab_2:checked ~ .tab[for=adva_current_tab_2],
#sidebar .tabs > #adva_current_tab_3:checked ~ .tab[for=adva_current_tab_3],
#sidebar .tabs > #adva_current_tab_4:checked ~ .tab[for=adva_current_tab_4] {
  display: block;
}
.filters .submit {
  float: right;
  margin-top: 4px;
  margin-bottom: 15px;
}

