<%=
  content_for :sidebar do
    f.tabs do
      f.tab :options do
        html = (@section.try(:single_link_mode) ? '' : f.text_field(:permalink, label: true)) +
          f.text_field(:tag_list, label: true, hint: "Enter one or more tags separated by a space. You may include spaces by enclosing a tag with quotes. (For example, <em>\"Web Dev\" Tutorials</em>).")

        if @categories.present?
          if !(@section.try(:single_link_mode) ? @section.single_link_mode : false)
      
            html << %(<label>Publish in these categories</label>) +
              render(:partial => 'categories/checkboxes', :locals => { :categories => @categories, :content => @link })
          end
        end

        html << f.select(:author_id, author_options(@site.users), { :selected => author_selected(@link) }, :label => true)
      end
    end
  end
%>
