<%=
  table_for @contents do |t|
    if @section.categories.any?
      t.column :article, :category, :comments, :published, :actions
    else
      t.column :article, :comments, :published, :actions
    end

    t.row do |r, article|
      r.add_class "level_#{article.level}"
      r.cell content_status(article) + link_to_edit(article.title, article, :class => article.state)
      r.cell article.category_titles.join(", ") if @section.categories.any?
      r.cell article.accept_comments? && article.comments.present? ? link_to(article.comments.size, admin_comments_path) : t(:"adva.common.none")
      r.cell published_at_formatted(article)
      r.cell links_to_actions([:edit, :delete], article)
    end

    t.empty :p, :class => 'empty' do
      raw params[:filters] ?
        t(:'adva.articles.no_filtered_articles') :
        t(:'adva.articles.no_articles', :section => @section.title) + "\n" +
        link_to(t(:'adva.articles.links.create_now'), [:new, :admin, @site, @section, :article])
    end
  end
%>

<%= content_for :sidebar do -%>
  <!--
  <div class="tabs">
    <ul>
      <li class="active"><a href="#filters" onclick="return false;">Filters</a></li>
    </ul>
    <div class="tab active" id="tab_filters">
      <%= filter_for(Article, :categories => @section.categories) %>
    </div>
  </div>
  -->
<% end -%>
