<%=
  content_for :sidebar do
    f.tabs do
      f.tab :options do
        html = (@section.try(:single_link_mode) ? '' : f.text_field(:permalink, :label => true)).html_safe
        html << f.text_field(:tag_list, :label => true, :hint => :'adva.hints.tags')

        if @categories.present?
          if !(@section.try(:single_link_mode) ? @section.single_link_mode : false)
            html << %(<label>#{t(:'adva.titles.publish_in_categories')}</label>).html_safe +
              render(:partial => 'categories/checkboxes', :locals => { :categories => @categories, :content => @article })
          end
        end

        html << f.select(:filter, filter_options, {}, :class => 'columnsFilter', :label => :'adva.titles.filter', :hint => :'adva.hints.filter') +
          f.select(:author_id, author_options(@site.users), { :selected => author_selected(@article) }, :label => true)
      end
    end
  end
%>
