h2 Single-site mode

p Multi-sites mode is not currently enabled for this installation.

p You can enable it by changing the following setting in your application initializer:

pre
  code<
    | Site.multi_sites_enabled = true

p Please refer to the documentation for further information.
